.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
esbuild.js
AGENTS.md
MAINTAINING.md
CONTRIBUTING.md
docs/**
.DS_Store
**/*.tsbuildinfo
